#menu {
	border-bottom: 3px solid #ececec;
	margin-bottom: 50px;
}

#menu .head_land1 {
	font-size: 28px;
	margin-left: -26px;
}

#menu .head_land1 a {
	color: #fff;
}

#menu #logo_text {
	float: right;
	font-size: 20px;
	margin-right: 75px;
}

#menu #logo_text a {
	color: #a6a6a6;
}

#menu #text {
	float: right;
	font-size: 20px;
	color: #666666;
	margin-top: -87px;
	margin-right: 25px;
}


/*<!--binner开始-->*/

#binner {
	width: 100%;
	min-width: 1200px;
}

#binner .binner_box {
	width: 1200px;
	height: 626px;
	margin: 0 auto;
	position: relative;
}



#binner .binner_box .nput_box{
    width: 73%;
    height: 94%;
    text-align: left;
    border: 0;
    font-size: 12px;
    padding-left: 105px;
    outline: 0;
}


#binner .binner_box .input_text{
	
    
    height: 100%;
    width: 20%;
    font-size: 16px;
    display: inline-block;
    line-height: 40px;
    text-align: left;
    position: absolute;
    left: 14px;
    

}

#at_land {
	width: 404px;
    font-size: 24px;
    background-color: #ff6600;
    color: #fff;
    height: 44px;
    margin: 76px auto;
    line-height: 44px;
    text-align: center;
    margin-top: 105px;
    margin-left: 401px;
}




.span_text {
	margin-right: 10px;
	color: red;
	font-size: 20px;
	margin-top: 0;
	display: block;
	height: 20px;
	width: 20px;
	position: relative;
	left: 866px;
	top: -83px;
}

.div_group {
	width: 400px;
	border: 1px solid #e5e5e5;
	margin: 0 auto;
	height: 40px;
	position: relative;
	margin-bottom: 50px;
}

.error_span{
	    position: absolute;
    right: -212px;
    top: 12px;
    text-align: left;
    width: 200px;
    color: red;
    font-size: 14px;
}
#last{
	width: 1200px;
	border-top: 2px solid #E6E6E6;
	height: 180px;
	margin: 50px auto 0;
}
 #last p {
	line-height: 20px;
	text-align: center;
	margin-bottom: 12px;
}
 #last  a {
	display: inline-block;
	margin: 0 12px;
	color: #000000;
}
 #last span {
	margin-right: 12px;
}
/*<!--binner结束--*/

