<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/commen.css"/>
		<link rel="stylesheet" type="text/css" href="../css/book.css"/>
		<script src="../js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/book.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		function ToLogin(){
			window.location.href="/login";
		};
		</script>
		<script type="text/javascript">
		function ShopCar(){
				var cusId = [[${session.cusId}]]
				var count = document.getElementById("count").innerText	
				var goodsId = [[${goods.goodsId}]]
				var goodsPrice = [[${goods.goodsPrice}]]
				
				console.log(count);
				console.log(cusId);
				console.log(goodsId);
				console.log(goodsPrice);
				$.ajax({
					type: "GET",
					dataType: "text",
					url: "/api/addShopCar",
	                cache:false,
	                data: {
	                	"cusId":cusId,
	                	"goodsId":goodsId,
	                	"goodsPrice":goodsPrice,
	                	"count":count
	                },
	                success: function (result) { 	
	                	if(result == 1){
	                		alert("添加购物车成功！");
	                	}else{
	                		alert("添加购物车失败！");
	                	} ;
	                },
					error : function(result) {
						console.log(result.responseText)
	                }
				});
			}
		</script>
	</head>
	<body>
		<!--头部顶端登录注册栏开始-->
		<div id="toplogin" th:include="state :: topstate"></div>
		<div class="innerbox">		
			<div id="header">
				<a href="###" id="logo"><img src="../img/LOGO_02.jpg"></a>
			<!-- 引入搜索栏 -->
			<div id="searchcontainer" th:include="searchTo :: searchTo">		</div>	       
				<div id="shoppingcar">
					<a th:href="@{'/api/shopcar/'+${session.cusId}}" class="car">购物车 <span>1</span></a>
					<a href="###" class="order">我的订单</a>
				</div>
				<ul>
					<li><a href="###">图书</a></li>
					<li><a href="###">电子书</a></li>
					<li><a href="###">原创文学</a></li>
					<li><a href="###">服装</a></li>
					<li><a href="###">运动户外</a></li>
					<li><a href="###">孕婴童</a></li>
					<li><a href="###">家居</a></li>
					<li><a href="###">创意文具</a></li>
					<li><a href="###">地方特产</a></li>
					<li><a href="###">海外购</a></li>
					<li><a href="###">电器城</a></li>
				</ul>
			</div>
		</div>
		<!--图书界面开始-->
		<div id="book">
			<div class="content">
				<p><span>图书</span>&gt;小说> 情感/家庭/婚姻 > 博集天卷 > 她和他</p>
				<div class="bookphoto">
				<!--放大镜开始-->
				<div class="small">
						<img th:src="|http://${goods.goodsImg}|"/>
						<div class="zoom">
			
						</div>
				</div>
				<div class="licar">
					<ul >
			<li><img src="../bookimg/02.png"/></li>
			<li><img src="../bookimg/22935553-1_l.jpg"/></li>
		    </ul>
				</div>
			

				<!--放大镜结束-->
					<div class="text">
						<h2><span th:text="${goods.goodsName}"></span></h2>
						<p><span th:text="${goods.goodsInfo}"></span></p>
						<div class="innertext">
							<p>乐 购 价 ：<span th:text="|￥${goods.goodsPrice}|"></span>[6.9折]</p>
							<p class="b">促销信息：<span>满减  每满150.00，可减50.00元现金</span><a href="###">详情>></a></p>
							<p>领券<a href="###"><img src="../bookimg/03.png"/></a><a href="###"><img src="../bookimg/03.png"/></a></p>
							<div class="rew">
								<p>累计评价</p>
								<span>9999</span>
							</div>
						</div>
						<span class="a">种类选择：</span> 
						 <p><a href="###" class="b">平装版</a><a href="###">精装版</a></p>
						<p class="add">
							<span id="count">1</span>
							<ul>
								<li class="addnum">+</li>
								<li class="reduce">-</li>
							</ul>
					<!-- 	<a th:href="@{'/api/addShopCar?cusId='+${session.cusId}+'&goodsId='+${goods.goodsId}}+'&count='+${count}">加入购物车</a>
					 -->	
					<span th:if="${session.state} eq 1">
					 <a href="javascript:void(0);" onclick="ShopCar()">加入购物车</a>
				
					</span>
					<span th:if="${session.state} neq 1">
					 <a href="javascript:void(0);" onclick="ToLogin()">加入购物车</a>
					</span>
					</div>
					
				</div>
			</div>
			
		</div>
		<!--图书界面结束-->
		
		<!--人气单品开始-->
		<div id="hotbook">
			<div class="content">
				<p><span>人气单品</span></p>
				<ul>
					<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
						<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
						<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
						<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
						<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
						<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
					
				</ul>
			</div>
		</div>
		<!--人气单品结束-->
		
		<!--商品介绍开始-->
		<div id="bookintro">
			<div class="booklist">

				<ul>
					<li class="a">看了又看</li>
					<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
					<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
					<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
					<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
					<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
					<li>
						<a href="###"><img src="../bookimg/22935553-1_l.jpg"/></a>
						<img src="../bookimg/03-产品详情页面_03.png"/>
						<p><a href="###">白夜行   东野上吾</a></p>
						<span>推荐</span><img src="../bookimg/03-产品详情页面_07.png"/>
						<span class="a">￥：38  </span><span class="b">￥:58</span>
					</li>
				</ul>
			</div>
			
			<div class="booka">
				<div class="title">
					<ul>
					<li class="active">商品介绍</li>
					<li>评价(9999)</li>
				</ul>
				</div>
			<div class="totle">
				<div class="bookimage">
					<img src="../bookimg/03-产品详情-B.jpg"/>
				</div>
				<div class="text">
					<p>作品简介</p>
					<p>她叫米娅，来自英国，当红女演员，却只想远离萧瑟的伦敦，聆听感动与欢笑的话语。 </p>
					<p>他叫保罗，来自美国，曾经的建筑设计师，因为一本书一炮而红，却无法适应他人追逐的目光。他隐身于巴黎，只能与自己小说中的人物结为挚友。</p>
 					<p>米娅的事业非常成功，保罗却一直郁郁不得志。保罗幽默风趣，米娅却不善与人交际。她很孤单，他也一直如此。缘于朋友善意的恶作剧，米娅和保罗相识于社交网络，却没有成为恋人，他们发展出很好的友谊，并试图将友情一直维持下去。 </p>
					<p>然而，一些意想不到的事情发生了……</p>

				</div>
			</div>
			
			<div class="totle">
				<div class="rew">
					<div class="review">
						<p class="a">98%</p>
						<p class="b">好评度</p>
					</div>
					<div class="relist">
						<ul>
							<li class="a">好评(98%)<span></span></li>
							<li>1.州**子</li>
							<li>+0</li>
							<li>2.州**子</li>
							<li>+0</li>
							<li class="a">&nbsp;中评(2%)<span></span></li>
							<li>3.州**子</li>
							<li>+10</li>
							<li>4.州**子</li>
							<li>+10</li>
							<li class="a"> &nbsp;差评(0%)<span class="b"></span></li>
						</ul>
					</div>
					
				</div>
				<div class="allrew">
					<div class="allrewa">
							<span class="a">全部评价(9999)</span>
							<span>好评(888)</span>
							<span>中评(888)</span>
							<span>差评(888)</span>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>	
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="rewlast">
						<div class="left">
							<img src="bookimg/03-产品详情页面_14.png"/>
						<p>下单后5天评论</p>
						<p>2016-08-11</p>
						</div>
						<div class="middle">
							<span>书的质量不错，很新，一点儿放久的潮味和臭味都没有，内容也值得一看，关键是价格真给力</span>
						</div>
						<div class="right">
							<p><img src="bookimg/03-产品详情页面_11.png"/>州***子</p>
							<p class="a">金牌会员</p>
							<p>来自iphon客户端</p>
						</div>
					</div>
					<div class="next">
						<ul>
							<li class="a"><a href="###">1</a></li>
							<li><a href="###">2</a></li>
							<li><a href="###">3</a></li>
							<li><a href="###">4</a></li>
							<li><a href="###">5</a></li>
							<li><a href="###">6</a></li>
							<li><a href="###">7</a></li>
							<li class="b"><a href="###">下一页</a></li>
						</ul>
					</div>
				</div>
			</div>
			</div>
				
		</div>
		<!--商品介绍结束-->
		<!--送货方式开始-->
		<div id="end">
			<div class="content">
				<ul>
					<li><a href="###"><img src="img/222_13.png"/></a></li>
					<li><a href="###"><img src="img/222_11.png"/></a></li>
					<li><a href="###"><img src="img/222_15.png"/></a></li>
					<li><a href="###"><img src="img/222_17.png"/></a></li>
				</ul>
			</div>
		</div>
		<!--送货方式结束-->
		<!--网页底部开始-->
		<div class="footer">
			<div class="_table">
				<table border="0" cellspacing="2px" cellpadding="8px">
					<tr>
						<th><a href="###">购物指南</a></th>
						<th><a href="###">支付方式</a></th>
						<th><a href="###">订单服务</a></th>
						<th><a href="###">退换货</a></th>
						<th><a href="###">商家服务</a></th>
					</tr>
					<tr>
						<td><a href="###">购物流程</a></td>
						<td><a href="###">货到付款</a></td>
						<td><a href="###">订单配送查询</a></td>
						<td><a href="###">退换货政策</a></td>
						<td><a href="###">商家中心</a></td>
					</tr>
					<tr>
						<td><a href="###">发票制度</a></td>
						<td><a href="###">网上支付</a></td>
						<td><a href="###">订单状态说明</a></td>
						<td><a href="###">自助申请退换货</a></td>
						<td><a href="###">运营服务</a></td>
					</tr>
					<tr>
						<td><a href="###">账户管理</a></td>
						<td><a href="###">礼品卡支付</a></td>
						<td><a href="###">自助取消订单</a></td>
						<td><a href="###">退换货进度查询</a></td>
						<td><a href="###">加入唯品会</a></td>
					</tr>
					<tr>
						<td><a href="###">会员优惠</a></td>
						<td><a href="###">银行转账</a></td>
						<td><a href="###">自助修改订单</a></td>
						<td><a href="###">退款方式和时间</a></td>
						<td><a href="###"></a></td>
					</tr>
				</table>
			</div>
			<div class="logo">
				<a href="###"><img src="img/logo_00.png"/></a>
			</div>
			<div class="end">
				<a href="###">公司简介</a>|
			<a href="###">Investor  Relations</a> |
			<a href="###">网站联盟</a>  |
			<a href="###">乐购招商</a>  |
			<a href="###">机构销售</a>  |
			<a href="###">手机乐购</a>  |
			<a href="###">官方Blog</a>  |
			<a href="###">热词搜索</a>  
			
			</div>
			
			<p>Copyright &copy; 乐购网  2014 - 2016  All Right Reserved </p>
		</div>
		<!--网页底部结束-->
	</body>
</html>
