<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/commen.css"/>
		<link rel="stylesheet" type="text/css" href="css/vip.css"/>
		<link rel="stylesheet" type="text/css" href="css/slide.css"/>
		<script src="js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/tyslide.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vip.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--头部顶端登录注册栏开始-->
		<div id="box">
			<div class="innerbox">
				<a href="###" class="begin">legouchina.cn</a>
				<span>欢迎光临<a href="index.html">乐购</a>，请<a href="entry.html" style="color: #737373;">登录</a>\<a href="joinus.html">注册</a></span>
			</div>
		</div>
		<!--头部顶端登录注册栏结束-->
			<!--中间logo图片开始-->
		<div id="logo">
			
			<a href="###"><img src="bookimg/13.png"/></a>
			<span>乐我所乐,我的VIP!</span>
			<div class="lists">
				<a href="vip.html" class="a">首页</a>
				<a href="shopapply.html">我的订单</a>
				<a href="###">会员特权</a>
			</div>
		</div>
		<!--中间logo图片结束-->
		<!--主页banner开始-->
		<div id="banner">
			<div class="innerbox">
				<div class="first">
					<p>会员每日特权</p>
					<ul>
					<li>
						<p>天天领乐豆</p>
						<a href="###">每天可领15乐豆</a>
						<img src="bookimg/33.png"/>
					</li>
					<li>
						<p>大乐豆</p>
						<a href="###">100乐豆</a>
						<a href="###">赢iphone</a>
						<img src="bookimg/32.png"/>
					</li>
					
					<li>
						<p>会员PLUS</p>
						<a href="###">开放体验 尊享权限</a>
						<img src="bookimg/31.png"/>
					</li>
					</ul>
				</div>
				
				<div id="pptwrapper">
					<!--<img src="img/banner(1).jpg"/>-->
					<div class="pptbox" id="ppt01">
							<ul class="innerwrapper">
								<li><a href="#"><img src="bookimg/25.png"/></a></li>
								<li><a href="#"><img src="img/banner(2).jpg"/></a></li>
								<li><a href="#"><img src="img/banner(1).jpg"/></a></li>
							</ul>
							<ul class="controls">
								<li class="current">1</li>
								<li>2</li>
								<li>3</li>
							</ul>			
							<span class="btnleft"></span>
							<span class="btnright"></span>
						</div>
				</div>
				
				<div class="last">
					<img src="bookimg/26.png"/>
					<a href="###" class="a">立即登录</a>
					<a href="###" class="b">查看你的特权</a>
					<p class="a"><img src="bookimg/27.png"/><span class="a">我的乐豆：--</span></p>
					<p class="b"><img src="bookimg/28.png"/><span class="a">我的优惠券：--</span></p>
					<p class="img"><img src="bookimg/29.png"/></p>
					<p class="entry">请<a href="###">登录</a>查看</p>
					<p class="img"><img src="bookimg/30.png"/></p>
					<p class="entry">请<a href="###">登录</a>查看</p>
				</div>
			</div>
			
		</div>
		
		<div class="add">
				<ul>
					<li>
						<p>PLUS专享</p>
						<a href="###">20元现金卡</a>
						<img src="bookimg/17.png"/>
					</li>
					<li>
						<p>乐豆任务</p>
						<a href="###">限时任务</a>
						<a href="###">领取</a>
						<img src="bookimg/15.png"/>
					</li>
					
					<li>
						<p>勋章馆</p>
						<a href="###">家居家装用户</a>
						<img src="bookimg/16.png"/>
					</li>
					
					<li>
						<p>PLUS大礼包</p>
						<a href="###">入会送150代金券</a>
						<img src="bookimg/14.png"/>
					</li>
					
				</ul>
			</div>
			<!--主页banner结束-->
			<!--图书折扣区开始-->
			<div id="hotbook">
			<div class="content">
				<p><span>1F 乐豆兑换券</span></p>
				<ul>
						<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/19.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
						<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/19.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">15乐豆兑换</span>
					</li>
				</ul>
			</div>
		</div>
		<div style="clear: both;"></div>
	<!--图书折扣区结束-->
	<div id="ad">
		<img src="bookimg/20.png"/>
	</div>
	
	<!--2F开始-->
	<div id="hotbook" class="click">
			<div class="content">
				<p><span>2F 会员特价</span></p>
				<ul>
						<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
					<li>
						<a href="###"><img src="bookimg/181.png"/></a>
						<img src="bookimg/21.png"/>
						<p><a href="###">乐购旗舰店</a></p>
						<span class="a">减50</span><span class="b">满200元可用</span>
						<span class="last">专享6折价格</span>
						<a href="###" class="join">加入购物车</a>
					</li>
						
				</ul>
			</div>
		</div>
	<!--2F结束-->
	<div style="clear: both;"></div>
	<!--3F开始-->
	<div id="game">
		<div class="content">
				<p><span>3F 会员特权</span></p>
				<ul>
					<li>
						<img src="bookimg/22.png"/>
						<p class="a">首约汽车  完美体验</p>
						<p class="b">价值20元现金卡  快来抢</p>
					</li>
					
					<li>
						<img src="bookimg/23.png"/>
						<p class="a">酒仙网  10乐豆抢鸡尾酒</p>
						<p class="b">抢兑鸡尾酒  超值体验</p>
					</li>
					
					<li>
						<img src="bookimg/24.png"/>
						<p class="a">山口山战战记</p>
						<p class="b">PLUS特权礼拜  698宝石送不停</p>
					</li>	
				</ul>
		</div>
	</div>
	<div style="clear: both;"></div>
	<!--3F结束-->
	<div id="add">
			<a href=""><img src="bookimg/1.bmp"/></a>
		</div>
		<!--送货方式开始-->
		<div id="end">
			<div class="content">
				<ul>
					<li><a href="###"><img src="img/222_13.png"/></a></li>
					<li><a href="###"><img src="img/222_11.png"/></a></li>
					<li><a href="###"><img src="img/222_15.png"/></a></li>
					<li><a href="###"><img src="img/222_17.png"/></a></li>
				</ul>
			</div>
		</div>
		<!--送货方式结束-->
		<!--网页底部开始-->
		<div class="footer">
			<div class="_table">
				<table border="0" cellspacing="2px" cellpadding="8px">
					<tr>
						<th><a href="###">购物指南</a></th>
						<th><a href="###">支付方式</a></th>
						<th><a href="###">订单服务</a></th>
						<th><a href="###">退换货</a></th>
						<th><a href="###">商家服务</a></th>
					</tr>
					<tr>
						<td><a href="###">购物流程</a></td>
						<td><a href="###">货到付款</a></td>
						<td><a href="###">订单配送查询</a></td>
						<td><a href="###">退换货政策</a></td>
						<td><a href="###">商家中心</a></td>
					</tr>
					<tr>
						<td><a href="###">发票制度</a></td>
						<td><a href="###">网上支付</a></td>
						<td><a href="###">订单状态说明</a></td>
						<td><a href="###">自助申请退换货</a></td>
						<td><a href="###">运营服务</a></td>
					</tr>
					<tr>
						<td><a href="###">账户管理</a></td>
						<td><a href="###">礼品卡支付</a></td>
						<td><a href="###">自助取消订单</a></td>
						<td><a href="###">退换货进度查询</a></td>
						<td><a href="###">加入唯品会</a></td>
					</tr>
					<tr>
						<td><a href="###">会员优惠</a></td>
						<td><a href="###">银行转账</a></td>
						<td><a href="###">自助修改订单</a></td>
						<td><a href="###">退款方式和时间</a></td>
						<td><a href="###"></a></td>
					</tr>
				</table>
			</div>
			<div class="logo">
				<a href="###"><img src="img/logo_00.png"/></a>
			</div>
			<div class="end">
				<a href="###">公司简介</a>|
			<a href="###">Investor  Relations</a> |
			<a href="###">网站联盟</a>  |
			<a href="###">乐购招商</a>  |
			<a href="###">机构销售</a>  |
			<a href="###">手机乐购</a>  |
			<a href="###">官方Blog</a>  |
			<a href="###">热词搜索</a>  
			
			</div>
			
			<p>Copyright &copy; 乐购网  2014 - 2016  All Right Reserved </p>
		</div>
		<!--网页底部结束-->
	</body>
</html>
